@using LibraryAPI.DTOs;
@model IEnumerable<BookDTO>;

@{

	ViewData["Title"] = "All Books";
}

<h1>All Books</h1>



<div class="form-row">
	<table>
		<tr>
			<td>
				<a asp-controller="Book" asp-action="CreateBook" class="btn btn-success">Add New Book</a>
			</td>
		</tr>
	</table>
</div>
<hr />

<form asp-controller="Book" asp-action="BookIndex">
	<div class="form-group">
		<input type="text" name="searchString" placeholder="Search..." />
		<input type="submit" value="Filter" class="btn btn-primary" />
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PublishingYear)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Genre)
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Title)</td>
				<td>@Html.DisplayFor(modelItem => item.Author)</td>
				<td>@Html.DisplayFor(modelItem => item.PublishingYear)</td>
				<td>@Html.DisplayFor(modelItem => item.Genre)</td>
				<td>
					<a asp-action="Details" class="btn btn-success" asp-route-title="@item.Title">Details</a>
					<a asp-action="EditBook" class="btn btn-warning" asp-route-title="@item.Title">Edit</a>
				</td>
			</tr>
		}
		</tbody>
	</table>