@using LibraryAPI.DTOs;
@model IEnumerable<BookDTO>;

@{
	ViewData["Title"] = "Search";
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PublishingYear)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Genre)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Title)</td>
				<td>@Html.DisplayFor(modelItem => item.Author)</td>
				<td>@Html.DisplayFor(modelItem => item.PublishingYear)</td>
				<td>@Html.DisplayFor(modelItem => item.Genre)</td>
			</tr>
		}
	</tbody>
</table>


